@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

@media (max-width: 60em) {
  html {
    font-size: 40.5%;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 20%;
  }
}