@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  .hero-img {
    height: 30rem;
    margin: 0 auto;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 40.5%;
  }
  .main-nav-list {
    gap: 2.4rem;
    display: none;
  }
  .hero-img {
    height: 25rem;
    margin: 0 auto;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 30%;
  }
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--2-rows--2 {
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 22em) {
  html {
    font-size: 25%;
  }
}
