@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    /* font-size: 56.25%; */
  }
  body {
    height: 100vh;
    height: -webkit-fill-available;
    min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    min-height: -webkit-fill-available;
  }
  .hero-img {
    height: 30rem;
    margin: 0 auto;
  }
  .main-nav-list,
  .footer-nav-list {
    gap: 2.4rem;
  }
  .grid-how-heading {
    grid-template-columns: 1fr 2.3fr repeat(3, 1fr);
  }
  .how-it-heading {
    /* align-items: flex-start; */
    align-items: start;
  }
  .how-it-heading h2 {
    /* margin-bottom: 2.4rem; */
    margin: 0 2.4rem 1.6rem 0;
  }
}

@media (max-width: 65em) {
  .main-nav-list {
    font-size: 1.4rem;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 90%;
  }
  .main-nav-list {
    gap: 2.4rem;
    display: none;
  }
  .hero {
    display: block;
    padding-bottom: 0;
  }
  .main-heading h1,
  .main-heading span,
  .main-heading p {
    align-self: center;
    text-align: center;
  }
  .main-heading p {
    font-size: 2rem;
  }
  .heading-btn {
    margin: 0 auto;
  }
  .hero-img {
    display: block;
    height: 30rem;
    margin: 3rem auto;
  }
  .about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -24rem;
  }
  .about-box h3 {
    background-position: bottom center;
  }
  .about-grid {
    display: block;
  }
  .about-heading {
    display: block;
    text-align: left;
    margin: 0 auto;
  }
  .about-img {
    display: none;
  }
  .about-our {
    display: block;
    margin: 0 auto;
  }
  .about-description {
    display: block;
    margin: 0 auto;
  }
  .about-description-span span {
    font-size: 1.4rem;
    margin: 2rem 0 4.8rem 0;
  }
  .about-records {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }
  .card-box {
    display: flex;
    flex-direction: column;
  }
  .general-heading span {
    font-size: 1.8rem;
  }
  /* .grid-how-heading {
    grid-template-columns: 1.7fr 2.3fr repeat(2, 1fr);
  } */
  .grid-how-heading {
    display: flex;
    flex-direction: column;
  }
  .contact-grid {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 44em) {
  /*
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--2-rows--2 {
    grid-template-rows: repeat(2, 1fr);
  }
  */
}
